/* ==== style.css ==== */

body {
  font-family: sans-serif;
}

#map {
  height: 85vh;
  width: 100%;
  margin-top: 10px;
}

.buttons {
  margin: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
}

.ngap {
  background: #e74c3c;
  color: white;
}

.antoan {
  background: #27ae60;
  color: white;
}

.cuuho {
  background: #f1c40f;
  color: black;
}

.tacduong {
  background: #b93d3d;
  color: white;
}
